:root{
    --bg-color: #E1DCCF;
    --second-bg-color: #8E949F;
    --text-color: #06BDAD;
    --main-color: #D0CDDB;
}

body {
    background: var(--bg-color) ;
    line-height: 1;
}

header {
    height:110px;
    width:100%;
    margin-top: px;
}

#icones{
    position:absolute;
    top: 10px;
    right:10px;
    z-index:2;
    height:110px;
    width:110px;
}

#mainImage {
    top: 100px;
    display: flex;
    align-items: center;
    height: 300px;
    justify-content: center;
}

#mainImage img {
    display: flex;
    align-items: center;
    height: 400px;
    width: auto;
    border-radius: 15px; /* Rayon de 10 pixels pour les coins
    /* background-color: #E4EFFF; Couleur de fond pour illustrer l'arrondi */
    padding: 7px;
}

.box{
    display: flex;
    width: auto;
    justify-content: none;
}
.box :second-child{
    align-items: left;
}

#legend{
    position:relative;
    text-align: left;
    margin-top:100px;
    margin-left: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}
#legend1{
    position:relative;
    text-align: left;
    margin-top:100px;
    margin-left: 25px;
    font-family: "Poppins", sans-serif;
    font-style: italic;
}
