:root{
    --bg-color: #E1DCCF;
    --second-bg-color: #8E949F;
    --text-color: #06BDAD;
    --main-color: #D0CDDB;
}

body {
    background: var(--bg-color) ;
    line-height: 1;
}

header {
    height: 15px;
    width:100%;
}

#icones{
    position:absolute;
    right:10px; /* permet de positionner l'icone à droite*/
    width: 10%;
}

#mainImage {
    display: flex;
    height: 25%;
    width:auto;
    justify-content: center; 
}

#mainImage img {
    height: 500px; /*You must set a specified height */
    background-size: cover; /*Resize the background image to cover the entire container */
    border-radius: 15px; /* Rayon de 10 pixels pour les coins*/  
}

.box{
    justify-content: none;
    margin-top: 1%;
    line-height: 1.5em;
}

#legend{
    margin-left: 2%;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}
#legend1{
    margin-left: 2%;
    font-family: "Poppins", sans-serif;
    font-style: italic;
}
